.ant-radio-button-wrapper {
  background: #333;
  border: 0;
  color: #aaa;
}

.ant-radio-button-wrapper:hover {
  color: #fff;
  background: #444;
}

.ant-radio-button-wrapper:active {
  background: #2a2a2a;
}

.ant-radio-button-wrapper:first-child {
  border: none;
}

.ant-radio-button-wrapper-checked:first-child {
  border: none;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background: #8500FF;
  color: #fff;
  box-shadow: none;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background: none;
}
