.ant-slider-step {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #333;
}

.ant-slider-handle {
  border: none;
  border-radius: 0;
  height: 24px;
  width: 12px;
  background: #aaa;
  cursor: pointer;
  margin-top: -8px;
}

.ant-slider-handle.ant-tooltip-open,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border: none;
}

.ant-slider-handle:hover,
.ant-slider-handle.ant-tooltip-open {
  background: #ccc;
  border: none;
}

.ant-tooltip-inner {
  font-family: 'Francois One', monospace;
}

.vertical-slider .ant-form-item {
  float: left;
  margin-right: 1.5rem;
}

.ant-slider-vertical {
  margin: 0;
  padding: 0;
  height: 150px;
}

.vertical-slider .ant-form-item-label {
  margin-bottom: 0.5rem;
}

.ant-slider-vertical .ant-slider-step {
  width: 8.4px;
}

.ant-slider-vertical .ant-slider-handle {
  margin-left: -8px;
  width: 24px;
  height: 12px;
}
