.drag-input-container {
  margin-top: 6px;
  padding: 10px 0 5px;
  width: 190px;
  background: #111;
  font-family: 'LCD Bold', monospace;
  text-align: center;
}

.drag-input-container:hover,
.drag-input-label:hover {
  cursor: ns-resize;
}

.drag-input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.drag-input-label {
  font-family: 'LCD Bold', monospace;
  font-size: 16px;
  letter-spacing: 2px;
}

.drag-input {
  position: relative;
  top: 1px;
  margin-left: 15px;
  width: 60px;
  display: inline-block;
  font-size: 38px;
  text-align: right;
  color: #fff;
  background: none;
  border: none;
}

.drag-input:hover {
  cursor: ns-resize;
}

.drag-input-buttons {
  margin: 2px 10px 0 0;
  float: right;
}

.drag-input-button {
  display: block;
  background: none;
  border: none;
  opacity: 0.75;
  transition: opacity 0.2s;
}

.drag-input-button:hover {
  opacity: 1;
  cursor: pointer;
}

.drag-input-button:focus {
  outline: none;
}

.drag-input-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.drag-input-up-button {
  margin-left: 3px;
  transform: rotate(-90deg);
}

.drag-input-down-button {
  transform: rotate(90deg);
}

.drag-input-button img {
  width: 15px;
  pointer-events: none;
}
