@import 'bootstrap';
@import 'react-bootstrap-switch';
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import './_variables.scss';
@import './three-osc-synth.scss';

body {
  padding: 10px;
  font-family: 'Francois One', monospace;
  background: #111;
}

.nav {
  margin-bottom: 10px;
}

.nav-pills > li > a {
  color: #ccc;

  &:hover {
    background: transparent;
    color: #fff;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #222;
}

.audio-control-group {
  margin: 6px;
  padding: 12px;
  padding-top: 20px;
  width: 190px;
  float: left;
  border: 0;
  border-radius: 3px;
  background: #1a1a1a;
  color: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

  .audio-control {
    margin-bottom: 0;
    padding: 15px 8px;
    width: 164px;
    height: 78px;
    float: left;
    border: none;

    &.btn-group {
      height: 92px;
    }
  }

  >.audio-control:last-child {
    margin-bottom: 0;
  }

  h4 {
    margin: 0 8px 4px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .osc-power-switch {
    padding: 4px 8px;
    height: 33px;
  }
}

.audio-control-column {
  width: 202px;
  float: left;
}

.audio-control-label {
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.btn-waveform-type {
  padding: 4px 8px;
}

.keyboard {
  padding: 5px;
  clear: both;
  zoom: 1.3;
}

.frequency-analyzer {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 10px;
  width: 350px;
  height: 100px;
  background: #337ab7;
}

input[type='radio'] {
  &:checked + span {
    padding: 6px 10px;
    margin: -6px -10px;
    background: $primary-color;
    color: #fff;
  }
}

.keyboard-key {
  margin: 2px;
  width: 22px;
  height: 100px;
  background: #fff;

  &.keyboard-key-black {
    position: relative;
    top: -35px;
    width: 6px;
    height: 66px;
    margin: 0 -9px;
    padding: 4px;
    background: #000;
    border-top: none;
  }

  &.keyboard-key-adjacent-white {
    margin-right: -4px;
  }

  &:focus {
    outline: none;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 14px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #333;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 24px;
  width: 12px;
  background: #aaa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;

  &:hover {
    background: #ccc;
  }
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #555;
}

.bootstrap-switch {
  border: none;
}

.bootstrap-switch.bootstrap-switch-focused {
  box-shadow: none;
}

.bootstrap-switch .bootstrap-switch-label {
  background: $primary-color;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
  background: #666;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background: darken($primary-color, 15%);
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
  background: #333;
  color: #fff;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background: #333;
  color: #aaa;
}
