@import 'bootstrap';
@import 'react-bootstrap-switch';

body {
  padding: 10px;
}

.audio-control-group {
  padding: 12px;
  margin: 8px;
  width: 190px;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

  h4 {
    font-size: 16px;
    margin: 0 8px 8px;
  }
}

.audio-control {
  padding: 15px;
  width: 164px;
  height: 78px;
  float: left;
  border: 1px solid #ccc;

  label {
    display: block;
    margin-bottom: 5px;
  }
}
