@import 'bootstrap';
@import 'react-bootstrap-switch';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700');

body {
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.audio-control-group {
  padding: 12px;
  margin: 8px;
  width: 190px;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

  > .audio-control {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    font-size: 16px;
    margin: 0 8px 8px;
    text-transform: uppercase;
  }
}

.audio-control {
  padding: 15px;
  width: 164px;
  height: 78px;
  float: left;
  border: 1px solid #ccc;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
}
