@import 'bootstrap';
@import 'react-bootstrap-switch';

body {
  padding: 20px;
}

.audio-control-group {
  padding: 5px;
  margin: 5px;
  width: 176px;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.audio-control {
  padding: 15px;
  width: 164px;
  height: 78px;
  float: left;
  border: 1px solid #ccc;

  label {
    display: block;
    margin-bottom: 5px;
  }
}
