@import './_variables.scss';

.three-osc-synth {
  @media(min-width: 930px) {
    zoom: 0.55;
  }

  @media(min-width: 1030px) {
    zoom: 0.6;
  }

  @media(min-width: 1120px) {
    zoom: 0.67;
  }

  @media(min-width: 1232px) {
    zoom: 0.74;
  }

  .keyboard {
    width: 1028px;
    height: 102px;
    overflow: hidden;
    zoom: 1.6;
  }

  .btn-waveform-type {
    margin-top: 5px;
    padding: 6px 10px;
    background: #333;
    border: none;
    color: #666;

    &:hover {
      background: #3a3a3a;
    }

    &:active {
      color: #555;
    }

    @media(min-width: 930px) {
      zoom: 0.8;
    }

    @media(min-width: 1100px) {
      zoom: 1;
    }
  }
}
