.oscilloscope {
  position: relative;
  margin-bottom: 1rem;
}

.oscilloscope img {
  width: 100%;
}

.frequency-analyzer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(5.3%, 17.5%);
  z-index: 2;
  pointer-events: none;
}
