.sequencer-bpm {
  position: absolute;
  top: 2px;
  left: 49px;
}

.sequencer-btn {
  margin-right: 1rem;
  padding: 1.5rem 2rem 2.5rem;
  font-size: 16px;
  color: #bbb;
  background: #333;
  border: none;
}

.sequencer-btn:after {
  border: 0 solid #666;
}

.sequencer-btn:hover {
  background: #444;
  color: #fff;
}

.sequencer-btn:focus {
  background: #2a2a2a;
  color: #aaa;
}

.sequencer-btn:disabled,
.sequencer-btn:disabled:hover {
  background: #2a2a2a;
  color: #666;
}

.sequencer-transport-btn {
  padding: 1.5rem 4rem 3rem;
  color: #fff;
}

.sequencer-transport-btn img {
  width: 22px;
  transition: opacity 0.2s;
}

.sequencer-transport-play-btn img {
  width: 25px;
}

.sequencer-transport-clear-btn img {
  width: 21px;
}

.sequencer-btn:disabled img {
  opacity: 0.285;
}

.sequencer-steps {
  margin-top: 1rem;
}

.sequencer-step {
  padding-top: 1.75rem;
  transition: color 0.4s;
}

.sequencer-step:after {
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: 6px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  display: block;
  opacity: 1;
  background: #1a1a1a;
  border-radius: 100%;
  animation: none;
  -webkit-animation: none;
  transition: background 0.2s;
}

.sequencer-step.sequencer-step-selected {
  background: #2a2a2a;
  color: #aaa;
}

.sequencer-step.sequencer-step-selected:after {
  background: #ff005294;
}

.sequencer-step.sequencer-step-trigger {
  background: #333;
}

.sequencer-step.sequencer-step-active {
  background: #444;
  color: #fff;
}

.sequencer-step.sequencer-step-trigger:after,
.sequencer-step.sequencer-step-trigger.sequencer-step-selected:after {
  background: #4bff00;
}

.sequencer-step.sequencer-step-trigger:not(.sequencer-step-active) {
  transition: none;
}

.sequencer-step.sequencer-step-marker:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 4px;
  display: block;
  background: #999;
}
