.keyboard-key {
  width: 34px;
  height: 180px;
  background: #fff;
  border: 0;
  border-right: 1px solid #ccc;
}

.keyboard-key.keyboard-key-black {
  position: absolute;
  top: 0;
  width: 15px;
  height: 116px;
  margin: 0 -8px;
  padding: 4px;
  background: #000;
  border: 0;
}

.keyboard-key:focus {
  outline: none;
}
