@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
  background: #111;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, label {
  font-family: 'Francois One', monospace;
  color: #fff;
}
