@import url('https://fonts.googleapis.com/css?family=Francois+One');

@font-face {
  font-family: 'LCD Bold';
  src: url(./assets/fonts/lcd-bold.ttf);
}

body {
  background: #111;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, h1, h2, h3, h4, h5, h6, label {
  font-family: 'Francois One', monospace;
  color: #fff;
}
